@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

input[type="text"] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.gen {
  width: 98%;
  margin: auto;
  border-radius: 5px;
  background-color: #802525;
  padding: 10px;
  text-align: center;
  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */    
  word-wrap: break-word;      /* IE */
}

h2 {
  color: #cbaf71;
  font-size: 3em;
  text-align: center;
  font-family: "Bebas Neue", cursive;
}

h3 {
  color: #cbaf71;
  font-size: 1.6em;
  text-align: center;
  font-family: "Bebas Neue", cursive;
}

h4 {
  color: #cbaf71;
  font-size: 2em;
  text-align: center;
  font-family: "Bebas Neue", cursive;
}

.clipboard, .visit {
  background-color: #cbaf71; 
  border: none;
  color: white;
  border-radius: 7px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 8px;
  font-size: 16px;
}

.clipboard:hover, .visit:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}